<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% if page.url != "/" %}
    <a
      class="back-to-home text-gray-500 visited:text-gray-500 hover:text-gray-800"
      href="/"
    >
      <svg
        id="i-chevron-left"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        width="32"
        height="32"
        fill="none"
        stroke="currentcolor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path d="M20 30 L8 16 20 2" />
      </svg>
    </a>
    {% endif %}
    {%- include footer.html -%}

  </body>

</html>
