---
layout: default
---

{%- include header.html -%}

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li class="post-item">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <h3 class="post-item__title">
        <a class="post-item__link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <div class="post-item__meta">
        <span class="item-meta__date">{{ post.date | date: date_format }}</span>
        <ul class="item-meta__tags inline-flex m-0">
          {%- for tag in post.tags -%}
          <li class="item-meta__tag">
            <a
              class="mr-4 bg-purple-500 hover:bg-purple-600 rounded-sm text-purple-100 hover:text-white"
              href="/tags/{{ tag }}"
              >{{ tag }}</a
            >
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}
</div>
