---
layout: default
---

<article
  class="post-item post-item--active h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-item__title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <div class="post-item__meta">
      <time
        class="dt-published item-meta__date"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      <ul class="item-meta__tags inline-flex m-0">
        {%- for tag in page.tags -%}
        <li class="item-meta__tag">
          <a
            class="mr-4 bg-purple-500 hover:bg-purple-600 rounded-sm text-purple-100 hover:text-white"
            href="/tags/{{ tag }}"
          >
            {{ tag | escape }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </header>

  <div class="post-item__content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
